<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Info</title>
  </head>
  <body>
    <form id="addStudentForm" action="" method="PUT">
      <h1>A침adir Estudiante</h1>
      <input type="hidden" id="id" name="id" />
      <label for="name">Nombre:</label>

      <input type="text" id="name" name="name" />
      <br />

      <label for="cel">Celular Contacto:</label>
      <>
        <input type="text" id="cel" name="cel" />
        <br />
      </>
      <label for="email">Email Contacto:</label>
      <>
        <input type="email" id="email" name="email" />
        <br />
      </>
      <label for="age">Edad:</label>
      <>
        <input type="number" id="age" name="age" />
        <br />
      </>
      <label for="deficiency">Deficiencia:</label>
      <>
        <input type="text" id="deficiency" name="deficiency" />
        <br />
      </>

      <label for="evaluation">Evaluacion:</label>
      <textarea name="evaluation" rows="10" cols="50" id="evaluation">
      </textarea>
      <br />
      <button type="submit">Guardar Cambios</button>
    </form>

    <script>
      const form = document.getElementById(
        "addStudentForm"
      ) as HTMLFormElement | null;
      if (!form) throw new Error("Formulario no encontrado");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(form);

        const data = {
          name: formData.get("name") as string,
          id: formData.get("id"),
          cel_contact: formData.get("cel") as string,
          email_contact: formData.get("email") as string,
          age: Number(formData.get("age")) as number,
          deficiency: formData.get("deficiency") as string,
          evaluation: formData.get("evaluation"),
        };

        try {
          const response = await fetch(`http://localhost:3001/api/students`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },

            body: JSON.stringify(data),
          });

          if (response.ok) {
            alert("Estudiante a침adido correctamente");
            window.location.href = "/dashboard/students";
          } else {
            let errorMsg = "Error desconocido";
            try {
              const error = await response.json();
              errorMsg = error.message || error.error || JSON.stringify(error);
            } catch {
              errorMsg = await response.text(); // si viene HTML
            }
            alert("Error enviando formulario: " + JSON.stringify(errorMsg));
          }
        } catch (err) {
          console.error(err);
          alert("Ocurri칩 un error al a침adir el estudiante");
        }
      });
    </script>
  </body>
</html>
