<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Añadir Profesor</title>
  </head>
  <body>
    <form id="addTeacherForm" action="" method="PUT">
      <h1>Añadir Profesor</h1>
      <input type="hidden" id="id" name="id" />
      <label for="name">Nombre:</label>

      <input type="text" id="name" name="name" />
      <br />

      <label for="cel">Celular Contacto:</label>
      <>
        <input type="text" id="cel" name="cel" />
        <br />
      </>
      <label for="email">Email Contacto:</label>
      <>
        <input type="email" id="email" name="email" />
        <br />
      </>

      <>
        <input type="hidden" id="role" name="role" value="teacher" />
        <br />
      </>

      <button type="submit">Guardar Cambios</button>
    </form>

    <script>
      const form = document.getElementById(
        "addTeacherForm"
      ) as HTMLFormElement | null;
      if (!form) throw new Error("Formulario no encontrado");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(form);

        const data = {
          name: formData.get("name") as string,
          id: formData.get("id"),
          cel: formData.get("cel") as string,
          email: formData.get("email") as string,
          role: formData.get("role") as string,
        };

        try {
          const response = await fetch(`http://localhost:3001/api/users`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },

            body: JSON.stringify(data),
          });

          if (response.ok) {
            alert("Profesor añadido correctamente");
            window.location.href = "/dashboard/teachers";
          } else {
            let errorMsg = "Error desconocido";
            try {
              const error = await response.json();
              errorMsg = error.message || error.error || JSON.stringify(error);
            } catch {
              errorMsg = await response.text();
            }
            alert("Error enviando formulario: " + JSON.stringify(errorMsg));
          }
        } catch (err) {
          console.error(err);
          alert("Ocurrió un error al añadir al profesor");
        }
      });
    </script>
  </body>
</html>
